<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <defaultDocument>
		<files>
			<clear />
			<add value="index.html" />
		</files>
        </defaultDocument>
		<staticContent>
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="355.00:00:00" />
		</staticContent>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/OaOInternal/DefaultWebs/sedoCurrent/Error404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
